@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   }
html{
    font-size: 20px;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat, monospace;
    font-style: normal;
    font-weight: 500;
}

main{
    display: flex;
}

h1{
    margin: 0;
    font-size: 2rem;
    color: aliceblue;
}

h2{
    font-size: 1.25rem;
    margin: 0;
    color: #cecaca;
}

h3{
    padding-left: 10px;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #545454;
    border-radius: 5px;
    text-transform: uppercase;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background: linear-gradient(rgba(3, 56, 244, .71), rgba(224, 37, 206, .79));
    min-height: 100vh;
}
.menu__nav{
    display: flex;
    justify-content: flex-end;
}

.menu__list{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 80%;
    margin: 0;
    padding: 20px;
    list-style: none;
}
.contacts__link,
.example__link,
.menu__link{
    position: relative;
    color :aliceblue;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}
.example__link{
    font-family: monserrat,monospace;
    color : #353535
}
.contacts__link::after,
.example__link::after,
.menu__link::after{
    content: "";
    position: absolute;
    display: block;
    bottom: -3px;
    left: 0;
    width: 1rem;
    height: 2px;
    transition: all .4s;
}
.contacts__link:after,
.menu__link::after{
    background-color: aliceblue;
}

.example__link::after{
    background-color: #000000;
    width: 2rem;
}
.contacts__link:hover::after,
.example__link:hover::after,
.menu__link:hover::after{
    width: 100%;
}

.aside {
    margin-left: 14px;
    margin-right: 6px;
    padding : 10px 14px;
    min-width: 40%;
    min-height: 100%;
    background-color: rgba(196, 196, 196, .3);
    border-radius: 15px;
    font-size: 1.25rem;
    color: aliceblue;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo__img{
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.logo__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-family: Montserrat, monospace;
    font-style: normal;
    font-weight: 500;
}



.details-container,
.language,
.hobbies{
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: rgba(96, 96, 96, .3);
    border-radius: 15px;
}

.personal-details__list,
.contacts__list,
.language__list{
    list-style: none;
    line-height: 2rem;
}

.personal-details__item,
.contacts__item,
.language__item {
    background-color: rgba(206, 202, 202, 0.3);
    margin-bottom: 10px;
    border-radius: 5px;
}

.contacts__item a{
    text-decoration: none;
    color: aliceblue;
}

.contacts__item-white img,
.hobbies__item-white{
    filter: invert(100%);
}

.hobbies__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.article-container{
    background-color: rgba(255, 255, 255, 0.7);
    margin-right :17px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 14px;
    font-size: 1.25rem;
    line-height: 2rem;
}

.text{
    text-indent: 2rem;
}

.my-projects__container_img{
    position: relative;
    max-width: 800px;
}

.my-projects__img{
    display: block;
    width: 100%;
}

.my-projects__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 2rem;
    color: aliceblue;
    background-color: rgba(36, 36, 36, .9);
    opacity: 0;
    transition: all .4s;
}

.my-projects__text:hover{
    opacity: 1;
}



.svg-text text{
    font-size: 10px;
}

.svg-text {
    transform: translate(-28%,3px) ;
}

.svg-text__css3{
    transform: translateX(6%) 
}

.svg-text__js{
    transform: translateX(16%) 
}

.svg-text__git{
    transform: translateX(11%) 
}

.svg-text__python{
    transform: translateX(-5%);
}

.skills__list{
    display: flex;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    padding: 0;
}

.skills__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 130px;
    list-style:none;
    line-height: 1rem;
}
.skills-text{
    text-align: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.copyrating{
text-align: center;
margin: 0;
}

