.container{

    box-sizing: border-box;
    width: 980px;
    margin:auto;
    padding: 0;
    background: linear-gradient(#e5f1dc, #bce6ec);
}

.navigation > ul{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navigation-item{
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(#9b9694, #ebe6e5);
}

.navigation-item:hover{
    background: linear-gradient(#c9c5c1, #8b8684)
}

.navigation-item a{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 22px;
}

.header-avatar{
    display: flex;
    flex-direction: row;
}

.header-avatar > img{
    display: flex;
    order: 1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-avatar > div{
    width: 75%;
    box-sizing: border-box;
    font-size: 28px;
}

.header-avatar > div > h1,
.header-avatar > div > h2{
    text-align: center;    
    line-height: 1em;
}

.header-avatar > div > h1{
    margin-top: 20px;
    margin-bottom: 4px;
}

.header-avatar > div > h2{
    margin-top: 1px;
    margin-bottom: 15px;
}

.details{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    box-sizing: border-box;
    margin-top: -150px;
    padding-left: 22.5px;
    font-size: 20px;
}

.details h3{
    margin: 10px 0;
}

.details ul{
    margin: 10px 0;
    padding-left: 0; 
    list-style: none;
}

.main{
    display: flex;
    box-sizing: border-box;
    margin-top: 3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
 
.article{
    box-sizing: border-box;
    width: 75%;
    margin-left: 22.5px;
    margin-right: 22.5px;
}

.aside{
    box-sizing: border-box;
    width:25% ;
    padding-right: 22.5px;
    
}

.git-logo{    
    width: 50px;
    vertical-align: bottom;
}

.footer-flex{
    display: flex;
}

.copyrating{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}

.rsschool-container{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

pre{
    margin-left: -50px;
    font-size: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#c9c5c1, #8b8684);
    
}

.address-footer{
    width: 80%;
    padding-left: 22.5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.address-footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.rsschool-logo{
   width: 100px; 
}



